<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div>
    <h1>
        <a href="/">Picture'd</a>
    </h1>
    {% block headerbar %}
    <p>
    {% if user.is_authenticated %}
        Logged in as {{user.username}} |
        <a href="/users/{{user.username}}/">My Pictures</a> |
        <a href="/lookslike/{{user.username}}/">My Look-A-Likes</a> |
        <a href="/logout/">Logout</a>{% endif %}
    </p>
    {% endblock %}
    </div>

    {% block errorbar %}
    {% endblock %}

    <div>
        <h2>What is Picture'd?</h2>
        <p>Picture'd keeps a record of how you look across time. The innovative thing about Picture'd is that
        we try to avoid logins and passwords as much as possible and use face recognition to find you. When you're
        using Picture'd you can also feel good about yourself, knowing you're contributing for research!</p>
    </div>

    <div>
    {% block content %}{% endblock %}
    </div>

    <div>
    {% block footer %}{% endblock %}
    </div>
</body>
</html>
