<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<link rel="stylesheet" href="/media/css/style.css" type="text/css"/> 
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="wrap">
	<div id="header">
		<h1>
			<a href="/">Depicture.Me!</a>
		</h1>
	</div>


	<div id="nav">
		{% block headerbar %}
		<a href="http://depicture.me/android">Also on android</a>
		{% if user.is_authenticated %}
		| Logged in as {{user.username}} |
		<a href="/users/{{user.username}}/">Pictures</a> |
		<a href="/lookslike/{{user.username}}/">Lookalikes</a> |
		<a href="/logout/">Logout</a>
		{% endif %}
		{% endblock %}
	</div>

	<div id="main">

		<div>
			{% block content %}{% endblock %}
		</div>
	</div>


	<div id="sidebar">
		{% block whatisthis%}
		<h2>What is this?</h2>
		<p>Depicture.Me keeps a record of how you look across time and finds people that look like you.
		The innovative thing about Depicture.Me is that we try to avoid logins and passwords as much as
		possible and use face recognition to find you. When you're using Depicture.Me you can also feel
		good about yourself, knowing you're contributing for research!</p>
		{% endblock %}

		{% block sidebar%}

		{% endblock %}
	</div>

	<div id="footer">
		Developed by <a href="http://ruiaf.org">Rui Ferreira</a>{% block footer %}{% endblock %}
	</div>
</div>
</body>
</html>
