{% extends "base.html" %}

{% block title%}
Depicture.Me - Recognizing Picture
{% endblock %}

{% block content%}
    <h2>Awee, You look nice! But... we were unable to find you on our records</h2>
    <img src="/media/{{ pic.thumbnail }}" / >
    <img src="/media/{{ pic.square_thumbnail }}" / >

    <div>
    <h2>Are you a new user?</h2>
    <p>Start getting Depicture.Me'd </p> 
    <form action="/register/" method="post">
    {% csrf_token %}
    {{newuser_form.as_p}}
    <input type="submit" value="Go"/>
    </form>
    </div>

    <div>
    <h2>No, i'm already an user!</h2>
    <p>You know face recognition is not perfect yet... give us some slack!</p> 
    <form action="/piclogin/" method="post">
    {% csrf_token %}
    {{login_form.as_p}}
    <input type="submit" value="Login"/>
    </form>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
