{% extends "base.html" %}

{% block title%}
Picture'd - Picture Recognition
{% endblock %}

{% block content%}
<h2>Get Picture'd</h2>
<form action="/savepic/" enctype="multipart/form-data" method="post" name="picture_login">
{% csrf_token %}
{{image_form.as_p}}
<input type="submit" value="Take my picture"/>
</form>

{% if not user.is_authenticated %}
    <h2>Just login</h2>
    <form action="/login/" method="post" name="login">
    {% csrf_token %}
    {{login_form.as_p}}
    <input type="submit" value="Login"/>
    </form>
{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}
