{% extends "base.html" %}

{% block title%}
Depicture.Me - Picture Recognition
{% endblock %}

{% block content%}
<h2>Get Picture'd</h2>

<object width="550" height="400">
<param name="camerabooth" value="/media/camerabooth-bin/camerabooth.swf">
<embed src="/media/camerabooth-bin/camerabooth.swf" width="400" height="300">
</embed>
</object>

<form action="/savepic/" enctype="multipart/form-data" method="post" name="picture_login">
{% csrf_token %}
{{image_form.as_p}}
<input type="submit" value="Depicture Me Now!"/>
</form>

{% if not user.is_authenticated %}
    <h2>Just login</h2>
    <form action="/login/" method="post" name="login">
    {% csrf_token %}
    {{login_form.as_p}}
    <input type="submit" value="Login"/>
    </form>
{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}
