{% extends "base.html" %}


{% block title%}
Depicture.Me - {{user.username}}'s picture: {{pic.creation_date}}
{% endblock %}


{% if global_err %}
<div>
    {{ global_err }}
</div>
{% endif %}



{% block content%}

<h2>Picture taken on {{ pic.creation_date}}.
</h2>
<p>
{% if user %}
by <a href="/users/{{pic.user.username}}/">{{pic.user.username}}</a>
{%endif%}
{% if user.is_staff %}
| <a href="/admin/pictures/picture/{{pic.id}}/">Edit picture</a>
| <a href="/{{pic.picture}}/redo">Redo face recognition</a>
{%endif%}
</p>

<h3>Original picture</h3>
<img src="/media/{{ pic.picture }}" / >

<h3>Thumbnail</h3>
<img src="/media/{{ pic.thumbnail}}" / >

<h3>Squared thumbnail</h3>
<img src="/media/{{ pic.square_thumbnail}}" / >

<h3>Face</h3>
<img src="/media/{{ pic.face}}" / >

<h3>Eyes</h3>
<img src="/media/{{ pic.eyes}}" / >
<h4>Left eye</h4>
<img src="/media/{{ pic.left_eye}}" / >
<h4>Right eye</h4>
<img src="/media/{{ pic.right_eye}}" / >

{% endblock %}
