{% extends "base.html" %}


{% block title%}
Depicture.Me - {{user.username}}'s pictures
{% endblock %}


{% if global_err %}
<div>
    {{ global_err }}
</div>
{% endif %}



{% block content%}

<h2>Hi {{user}}, here are your pictures</h2>
{% if pictures %}
    <ul>
    {% for pic in pictures %}
    <li>
    <a href="/{{ pic.picture }}"><img src="/media/{{ pic.square_thumbnail }}" / ></a>
    <p>Taken {{ pic.creation_date|timesince}} ago.</p>
    </li>
    {% endfor %}
    </ul>
{% else %}
    No pictures are available at the moment.
{% endif %}

{% endblock %}
