{% extends "base.html" %}


{% block title%}
Picture'd - {{user}}'s pictures
{% endblock %}


{% if global_err %}
<div>
    {{ global_err }}
</div>
{% endif %}



{% block content%}

<h2>Hi {{user}}, here are your pictures</h2>
{% if pictures %}
    {% for pic in pictures %}
    <div>
        <a href="/media/{{ pic.picture }}"><img src="/media/{{ pic.picture }}" / ></a>
    </div>
    <div>
    {{ pic.creation_date}}
    </div>
    {% endfor %}
{% else %}
    No pictures are available at the moment.
{% endif %}

{% endblock %}
